@import "_fonts";

$fontMont: "Montserrat";

.support {
    padding-top: 40px;
    &__body {
        color: #050C33;
        margin-left: -26px;
        margin-bottom: -208px;
        h2 {
            text-align: center;
            font-family: $fontMont;
            font-size: 42px;
            font-weight: 700;
            line-height: 51px;
            width: 400px;
            margin: 0px auto 55px auto;
            text-shadow: 0px 3px 5px rgba($color: #000000, $alpha: .5);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__elem {
        overflow: hidden;
        width: 292px;
        height: 292px;
        padding: 30px 20px 0px 28px;
        margin: 0px 5px 5px 0px;
        border-radius: 5px;
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .3);
        background-color: white;
        .elem__number {
            font-family: $fontMont;
            font-size: 12px;
            opacity: .5;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .elem__name {
            font-family: $fontMont;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 12px;
        }
        .elem__description {
            font-family: $fontMont;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            opacity: .7;
        }
    }
}

.scnd-block {
    height: 839px;
    background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.548) -114.85%, rgba(255, 255, 255, 0) 69.04%), #394047;
    .support__scnd {

    }
}
