@import "_nullstyle";
@import "_fonts";
@import "_icons";
@import "_header";
@import "_webform";
@import "_services";
@import "_support";
@import "_plans";
@import "_cases";
@import "_team";
@import "_reviews";
@import "_partners";
@import "_faq";

$containerWidth: 1180;
$minContainer: 1080;

$fontMont: "Montserrat";
$fontUbuntu: "Ubuntu";

._container {
    width: $containerWidth + px;
    margin: 0 auto;
}

._min-container {
    width: $minContainer + px;
    margin: 0 auto;
}

.caption {
    text-align: center;
    h2 {
        font-family: $fontMont;
        font-size: 42px;
        font-weight: 700;
        color: #050C33;
        margin-bottom: 20px;
        line-height: 51px;
    }
}

@media (max-width: 480px) {
    .caption {
        h2 {
            font-size: 25px;
        }
    }
}