@import "_nullstyle";
@import "_fonts";
@import "_icons";

$containerWidth: 1180;

$fontMont: "Montserrat";
$fontUbuntu: "Ubuntu";

._container {
    width: $containerWidth + px;
    margin: 0 auto;
}

.header {
    height: 650px;
    overflow: hidden;
    &__menu {
        z-index: 3;
        height: 88px;
        position: relative;
    }
    &__pandaimg {
        z-index: 2;
        position: absolute;
    }
}

.header__video {
    filter: brightness(40%);
    position: relative;
    z-index: 1;
    .video__media{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
}