@import "_nullstyle";
@import "_fonts";
@import "_icons";
@import "_header";
@import "_webform";
@import "_services";

$containerWidth: 1180;

$fontMont: "Montserrat";
$fontUbuntu: "Ubuntu";

._container {
    width: $containerWidth + px;
    margin: 0 auto;
}